<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiyujia.homesport">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 地图功能相关权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 地图功能相关权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 相机功能相关权限 -->
    -<application
    android:name=".App"
    android:theme="@style/AppTheme"
    android:supportsRtl="true"
    android:label="@string/app_name"
    android:icon="@mipmap/img_logo"
    android:anyDensity="true"
    android:allowBackup="true">
    <!-- 地图功能配置信息 -->
    <meta-data android:name="com.amap.api.v2.apikey" android:value="84ae7306712de2d7134d569db2d8df97"/>
    <service android:name="com.amap.api.location.APSService"/>
    <!-- 地图功能配置信息 -->
     <activity android:name=".BootLoaderActivity" android:theme="@style/AppTheme">
        <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".common.personal.activity.PersonalSystemSetting"/>
        <activity android:name=".common.personal.activity.PersonalSetInfo"/>
        <activity android:name=".common.personal.activity.PersonalFeedback"/>
        <activity android:name=".common.personal.activity.PersonalActive"/>
        <activity android:name=".common.personal.activity.PersonalDynamic"/>
        <activity android:name=".common.personal.activity.PersonalEquipmentShow" />
        <activity android:name=".common.personal.activity.PersonalAttention"/>
        <activity android:name=".common.personal.activity.PersonalFans"/>
        <activity android:name=".common.personal.activity.PersonalAbout"/>
        <activity android:name=".common.personal.activity.PersonalPanyanGold"/>
        <activity android:name=".common.personal.activity.PersonalPanyanGoldInfo"/>
        <activity android:name=".common.personal.activity.PersonalPanyanGoldRecord"/>
        <activity android:name=".common.personal.activity.PersonalGoldRule"/>
        <activity android:name=".common.personal.activity.PersonalMsg"/>
        <activity android:name=".common.personal.activity.PersonalLogin"/>
        <activity android:name=".common.personal.activity.PersonalRegister"/>
        <activity android:name=".common.personal.activity.PersonalForgetRegister"/>
        <activity android:name=".common.community.activity.CommunityAddAttention"/>
        <activity android:name=".common.community.activity.CommunityDynamicPublish"/>
        <activity android:name=".common.community.activity.CommunityNewVideoActivity"/>
        <activity android:name=".common.homepage.activity.HomePageVenueSurveyActivity"/>
        <activity android:name=".common.homepage.activity.HomePageDateActivity"/>
        <activity android:name=".common.homepage.activity.HomePageEquipmentActivity"/>
        <activity android:name=".common.homepage.activity.HomePageCourseActivity"/>
        <activity android:name=".common.homepage.activity.HomePageSearchResultActivity"/>
        <activity android:name=".common.record.activity.RecordActivePublishActivity"/>
        <activity android:name=".common.record.activity.RecordTopActivity"/>
        <activity android:name=".common.record.activity.RecordTrackActivity"/>
        <activity android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"/>
        <activity android:name=".common.homepage.activity.HomePageSetCityActivity"/>
        <activity android:name=".common.homepage.activity.HomePageWholeSearchActivity"></activity>
        <activity android:name=".common.personal.activity.PersonalOtherHome"/>

    </application>

</manifest>